*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo{
  width: 55px;
  height: 55px;

}
body {
  position: relative;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,28,65,1) 0%, rgba(1,95,135,1) 62%, rgba(1,147,189,1) 100%, rgba(0,212,255,1) 100%);
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
form {
  position: fixed;
  bottom: 50%;
  right: 30%;
  left: 30%;

  border-radius: 8px;
  border: 2px solid rgb(66, 66, 180);
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5); 
}

.items {
  position: fixed;
  top: 50px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 0;
}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}
.svg{
  width: 450px;
  
}